*~
*.swp
*.swo
*.bak
*.tmp

.DS_Store

*.out
*.o
*.bin
*.exe

.env
.env.local
.zshrc.local
starship.local.toml

nvim/plugin/packer_compiled.lua
nvim/.netrwhist

fastfetch/cache/
fastfetch/*.log

*.log


